*{
    padding: 0;
    margin: 0;
}
.container {
    max-width: 600px;
    margin: auto;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}


h1{
    margin-top: 4rem;
    text-align: center;
    color: rgb(15, 129, 160);
}

h2{
    margin-top: 3rem;
    text-align: center;
    color: rgb(15, 129, 160);
}

h3{
    margin-top: 2rem;
}

p, iframe{
    margin-top: 1rem;
   
}

iframe{
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

h1{
    font-family: 'Shadows Into Light', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;

}

 p, h3 {
    font-family: 'Quicksand', sans-serif;
  
}

a :link{
    color : white;
}

a :hover {
    color: grey;
}

img {
    width: 100%;
    padding-top: 2rem;
}

.sous-titre {
    text-align:center;
    margin-top: 0%;

}

.eventail